*{
  margin: 0;
  padding:0;
  box-sizing: border-box;

}
.sfondo{
  display: flex;
  justify-content: center;
  margin: 3vh 0;

}

.schermata{
  height: 94vh;
  width: 84vw;
}

.contatti{
  float: left;
  width: 35%;
  height: 100%
}

.contatti img {
  height: auto;
  width: 33px;
  background-color: white;
  border-radius: 50%;
}

.cont-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  background-color: #e8e6e6;
}

.cont-top-img{
  margin-left: 20px
}

.cont-top-dx{
  margin-right: 10px;
}
.cont-top-dx i{
  margin-right: 10px;
  color:#999999;
}

.cont-alert{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 12%;
  width: 100%;
  background-color: #68c2e3;
}

.cont-alert-img{
  background-color: white;
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-left: 30px;
  margin-right: 20px;
}
.cont-alert-img i{
  color:#68c2e3;

}

.cont-alert-scritte{
  font-size: 13px;
  font-weight: bold;
}
.cont-alert-scritte a{
  color:#999999;
  font-weight: normal;
}

.cont-ricerca{
  height: 8%;
  width: 100%;
  background-color: #e8e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-ricerca-blocco{
  background-color: white;
  width: 96%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
}
.cont-ricerca-blocco i{
  margin-left: 20px;
  color:#999999;
}
.cont-ricerca-blocco input{
  border: none;
}

.cont-elenco{
  height: 70%;
  width: auto;
  overflow-y: scroll;
}

.cont-elenco-chat{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;  ;
  height: 60px;
  border-bottom: 1px solid #ebebeb;
}

.selezionata{
  background-color: #e6e6e6;
  border-bottom: none;
}

.cont-elenco-chat-img{
  margin-left: 20px;
  margin-right: 15px;
  height: 50px;

}
.cont-elenco-chat-img img{
  height: 50px;
  width: auto;
}

.cont-elenco-chat-testo{
  color:black;
  margin-right: 150px;
}

.cont-elenco-chat-testo p{
  color:#999999;
  font-size: 12px;
}

.cont-elenco-chat-orario{
  color:#999999;
  font-size: 12px;
}


/* PARTE DESTRA */

.chat{
  float:left;
  height: 100%;
  width: 65%;
}

.chat-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
    height: 10%;
    width: 100%;
    background-color: #e8e6e6;
    border-left: 1px solid grey;
}

.chat-top-sx{
  display: flex;
}
.chat-top img{
  height: 40px;
  width: auto;
  background-color: white;
  border-radius: 50%;
  margin-left: 20px;
}
.chat-top-sx-scritte{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  font-size: 16px;
}
.chat-top-sx-scritte p{
  color:grey;
  font-size: 13px;
}

.chat-top-dx{
  margin-right: 10px;
}
.chat-top-dx i{
  margin-right: 10px;
  color:#999999;
}

.chat-main{
  background-image: url(img/3.jpeg);
  background-position: center;
  background-size: auto;
  background-repeat: repeat;
  overflow-y: scroll;
  height: 82%;
  width: 100%;
  background-color: red;
  padding-top: 20px;

}
.chat-main-border{
  margin: 0 10%;
  display: flex;
  flex-direction: column;
}
.msg{
  position:relative;
  height: 35px;
  width: 10vw;
  padding: 10px;
  border-radius: 10px;
  background-color: #dcf7c0;
  margin-bottom: 30px;
}
.msg .ora{
  font-size: 10px;
  position: absolute;
  bottom: 1px;
  right: 10px;
}
.mio{
  margin-left: 450px;
}

.amico{
  background-color: white;
}

.chat-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8%;
  width: 100%;
  background-color: #f2eeea;
}

.chat-input-smile{
  margin-left: 20px;
  width: 10%;
}

.chat-input-smile i{
  font-size: 22px;
}

.chat-input-main{
  display: flex;
  align-items: center;
  height: 80%;
  width: 90vw;
  border-radius: 10px;
  background-color: white;
  margin-right: 45px;
}
.chat-input-main input{
  border: none;
  margin-left: 10px;
}

.chat-input-rec{
  margin-right: 20px;
  width: 10%;
}

.chat-input-rec i {
  font-size: 22px;
}
